################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.angular/cache/15.2.7
/**/wwwroot
